@using Microsoft.AspNetCore.Identity
@using PUC.LDSI.Identity.Entities
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (User.HasClaim(c => c.Value == "Professor"))
    {
        <a class="btn btn-link navbar-btn navbar-link" style="padding-left:5px;padding-right: 0px;" asp-controller="Turma" asp-action="Index">Turmas</a>
    }
    else
    {
        <a class="btn btn-link navbar-btn navbar-link" style="padding-left:0px;padding-right: 0px;" asp-controller="Home" asp-action="Index">Minhas Avaliações</a>
    }
}